@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

@media screen and (min-width: 0px) and (max-width: 2000px) {
	/* 共通 */
	body {
		font-family: 'Noto Sans JP', sans-serif;
	}
	/* header */

	header {
		position: relative;
		max-width: 960px;
		height: 270px;
		margin: 10px auto;
	}

	.catch-copy {
		text-align: left;
		/* margin:50px auto; */
		width: 100%;
		color: black;
		/* font-family: "ヒラギイノ明朝　ProN W3", "Hiragino Mincho ProN"; */
		font-size: 3vw;
		font-weight: bold;
		text-decoration: none;
		position: absolute;
		top: 50%;
		/* left: 50%; */
		transform: translate(0, -50%);
	}
	
	.sub {
	    font-size: 18px;
	    color: #C0C0C0;
	    margin-top: 10px;
	}

	.link {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		position: absolute;
		top: 80%;
		right: 0%;
	}

	.link li {
		/* width: 140px; */
		/* text-align: center; */
		padding-left: 40px;
		/* text-align: right; */
	}

	.link li a {
		text-decoration: none;
		font-size: 22px;
	}

	/* a {
		text-decoration: none;
	} */

	/* img */
	img {
		width: 100%;
		height: 100%;
	}

	.img {
		display: flex;
	}

	/* main */
	main {
		max-width: 960px;
		margin: 0 auto;
	}

	.heading2 {
		text-align: center;
		line-height: 1.0;
		/* font-family: 'Lato', sans-serif; */
		font-weight: 100;
		letter-spacing: 0.05em;
		font-size: 40px;
		margin-bottom: 40px;
		margin-top: 80px;
		/* font-family: "ヒラギイノ明朝　ProN W3", "Hiragino Mincho ProN"; */

	}
	.content {
		font-size: 16px;
		line-height: 1.7;
		/* font-family: "ヒラギイノ明朝　ProN W3", "Hiragino Mincho ProN"; */

	}

	/* footer */
	footer {
		max-width: 960px;
		margin: 50px auto;
	}

	.footer .link2 {
		list-style: none;
		display: flex;
		justify-content: flex-start;
		/* position: absolute;
		top: 80%;
		right: 0%; */
	}

	.link2 .login {
		/* width: 140px; */
		/* text-align: center; */
		padding-left: 40px;
		/* text-align: right; */
	}

	.link2 li a {
		text-decoration: none;
		font-size: 19px;
	}

	.copy {
		text-align: right;
		/* 1.0rem = 16px */
		font-size: 1.0rem;
		/* display: inline-block; */
	}
}

@media screen and (max-width: 480px) {
	body {
		max-width: 100%;
	}

	header {
		position: relative;
		max-width: 960px;
		height: 250px;
		margin: 0 auto;
	}

	.catch-copy {
		text-align: center;
		/* margin:50px auto; */
		width: 100%;
		color: black;
		/* font-family: "ヒラギイノ明朝　ProN W3", "Hiragino Mincho ProN"; */
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		position: absolute;
		top: 40%;
		/* left: 50%; */
		transform: translate(0, -50%);
	}

	.link {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		position: absolute;
		top: 80%;
		right: 0%;
	}

	.link li {
		/* width: 140px; */
		/* text-align: center; */
		padding-left: 40px;
		padding-right: 10px;
		/* text-align: right; */
	}

	.link li a {
		text-decoration: none;
		font-size: 20px;
	}

	img {
		width: 100%;
		height: 200px;
	}

	.img {
		display: block;
	}

	main {
		margin: 0 20px;
	}

	.heading2 {
		font-size: 25px;
	}

	/* footer */
	footer {
		max-width: 100%;
		margin: 30px auto;
	}

	.footer .link2 {
		list-style: none;
		display: flex;
		justify-content: center;
		/* position: absolute;
		top: 80%;
		right: 0%; */
	}

	.link2 .login {
		/* width: 140px; */
		/* text-align: center; */
		padding-left: 20px;
		/* text-align: right; */
	}

	.link2 li a {
		text-decoration: none;
		font-size: 19px;
	}

	.copy {
		text-align: center;
		/* 1.0rem = 16px */
		font-size: 1.0rem;
		/* display: inline-block; */
		margin: 30px 0;
	}

}